body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family : "lato", sans serif;
}

/* VERSION MOBILE UP TO 688 PX */

main {
    display: flex;
    flex-direction: column;
}

.welcomeBackground{
    background-image: url('NantesPano.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    display: flex;
}

.welcomeTitle {
    margin: 0;
    font-size: 3.5em;
    line-height: 86px;
    color: #E1E6EC;
    align-self: flex-end;
    /* text-shadow: 4px 1px 4px #6A8E7F; */
}
/* BLOC MESSAGE D'ACCUEIL */
.welcomeBloc {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.47) 0%, rgba(255, 255, 255, 0) 72.92%), rgba(106, 142, 127, 0.54);
    display: flex;
    justify-content: center;
}

/* TITRE MESSAGE D'ACCUEIL */
.welcomeBloc p span {
    display: block;
    margin-top: 10px;
}

/* TEXTE MESSAGE D'ACCUEIL */
.welcomeBloc p {
    font-size: 20px;
    line-height: 24px;
    width: 80%;
    text-align: center;
}

.discoverItems{
    background-color: #D0CFEC;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5em;
}

ul, ol{
    text-align: center;
    padding: 0;
}

/* LIENS DYNAMIQUES */
ol a{
    color: black;
    text-decoration: none;
}

/* SECTON "DECOUVRIR" */
.titreDecouvrir {
    font-size: 35px;
    line-height: 42px;
    text-align: center;
}

.nightLifeBloc{
    background-image: url('IMG_1915.JPG');
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between
}

.nightLifeTitle{
    font-size: 3em;
    margin: 0;
    font-weight: normal;
}

.nightLifeBloc p {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.47);
    padding-right: 10px;
    padding-bottom: 10px;
}

.nightLifeBloc p button {
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #6A8E7F;
}

/* SECTION COMMENTAIRES */

em{
    color: #EEEEFE;
    font-style: normal;
    font-weight: normal;
}

.commentsSection{
    display:grid;
    grid-gap: 0.5em;
    grid-template-columns : 2;
    grid-template-rows:4;
    
    height: 316px;
    background: rgba(106, 142, 127, 0.63);
}

.talkaboutus{
    font-style: italic;
    font-size : 1.2em;
    padding-left: 0.5em;
    padding-top: 0.5em;

    grid-column : 1/2;
    grid-row:1/2;
}

.comment1{
    overflow: scroll;
    margin-right:0.5em;
    margin-top:0.5em;
    padding-left :0.5em;

    grid-column:2/3;
    grid-row:1/2;

    width: 320.88px;
    height: 93px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.comment2{
    overflow: scroll;
    margin-left:0.5em;
    padding-left :0.5em;
    padding-right : 0.5em;
    grid-column: 1/2;
    grid-row:2/3; 
    width: 320.88px;
    height: 93px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.letcomment{
    padding-right : 1em;
    grid-column:1/3;
    grid-row:3/4;
    text-align: end;
}

.stars{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Desktop 688px and bigger */

@media (min-width: 688px) {

    .welcomeBackground{
        background-size: 100%;
    }

    .welcomeTitle{
        font-size: 4.3em;
    }

    .welcomeBloc p {
        width: 60%;
    }
    
    /* LISTE THEMES */
    ol a:hover{
        color: #FFFFFF;
        text-shadow: 2px 2px 2px #6A8E7F;
    }

    .nightLifeBloc{
        background-image: url('IMG_1915.JPG');
        background-repeat: no-repeat;
        background-position: left;
        background-size: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
    }

    .nightLifeTitle{
        font-size: 4em;
    }

    .nightLifeBloc p {
        width: 40%;
    }

    /* SECTION COMMENTAIRES */

    .commentsSection{
        display:grid;
        grid-gap: 0.5em;
        grid-template-columns : 6;
        grid-template-rows:4;
        width:99%;
        height: 316px;
        background: rgba(106, 142, 127, 0.63);
    }
    
    .talkaboutus{
        font-style: italic;
        font-size : 1.2em;
        padding-left: 0.5em;
        padding-top: 0.5em;
        grid-column : 1/3;
        grid-row:1/2;
    }
    
    .comment1{
        overflow: scroll;
        margin-right:10em;
        margin-top:0.5em;
        margin-left : 0.5;
        grid-column:3/6;
        grid-row:1/2;
        height: 180;
        background : #FFFFFF;
        box-shadow : 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .comment2{
        overflow: scroll;
        margin-left:0.5em;
        padding-left :0.5em;
        padding-right : 0.5em;
        grid-column: 1/3;
        grid-row:2/3; 
        width: 100%;
        height: 93px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

    .letcomment{
        padding-right : 0.5em;
        grid-column:3/6;
        grid-row:3/4;
        text-align: end;
    }
    
    .stars{
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}