* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:lightgrey;
}

header {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EEEEFE;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* HEADER GRID CONTAINER */

.headNav > ul {
    height: 15vh;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(8, 1fr);
}

/* HEADER GRID ITEM LAYOUT */

.headGridLogo {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.headGridHist {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}

.headGridCult {
  grid-row: 3 / 4;
  grid-column: 5 / 6;
}

.headGridGast {
  grid-row: 4 / 5;
  grid-column: 6 / 7;
}


.headGridNight {
  grid-row: 5 / 6;
  grid-column: 5 /6;
}

.headGridInsol {
  grid-row: 6 / 7;
  grid-column: 4 / 5;
}

.headGridPrat {
  grid-row: 8 / 9;
  grid-column: 9 / 10;
}



/* HEADER GRID ITEM CONTENT */

.headLogo {
    position: absolute;
    width: 11vh;
    height: 11vh;
}

.headNav li {
  list-style: none;
  font-family: 'Lato', sans-serif;
  /* add a max font-size here */
  font-size: 4vw;
  color: #6A8E7F;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headNav li span {
  position: absolute;
}


  
  /* more mobile styles here... */
  /* then... */
  /* EVERYTHING BELOW HERE desktop 688px and bigger */
  
  @media (min-width: 688px) {
    body {
      background: green;
    }
  

  
  /* etc. etc. */
  
}