* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:lightgrey;
}

header {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EEEEFE;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.headNav > ul {
    height: 15vh;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(8, 1fr);
}

.headNav li {
    list-style: none;
    font-family: 'Lato', sans-serif;
    color: #6A8E7F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headLogo {
    width: 10vh;
    height: 10vh;
}
  
  /* more mobile styles here... */
  /* then... */
  /* EVERYTHING BELOW HERE desktop 688px and bigger */
  
  @media (min-width: 688px) {
    body {
      background: green;
    }
  

  
  /* etc. etc. */
  
}