
 /* PracticalInfos mobile*/ 
body{
    background-color:white;
    font-family : "lato", sans serif;
    
}
.map{
    height: 600px;
    background-size: 100%;
    border-radius: 49px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container{
    display:flex;
    flex-direction:column;
    gap: 0.9em;
}

.rows{
    display:flex;
    flex-direction: row;
    gap: 0.9em;
}

.textPractical{
    width:20%;
    background: rgba(238, 235, 235);
    border-radius: 49px;
    word-wrap: break-word;
    padding : 1em;

}

button{
    background: rgba(238, 235, 235, 0.01);
    border:0px;
}

.move{
    display:flex;
    justify-content:flex-start;
    background-image: url("./assets/move.jpg");
    background-color: #6A8E7F;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80%;
    height: 200px;
    border-radius: 49px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button1{
    font-family : "lato", sans serif;
    font-size: 1.2em;
    text-align:center;
    padding-top: 2.2em;
    height: 120px;
    width: 120px;
    background: rgba(238, 235, 235, 0.4);
    border-radius: 50%;
    margin-top : 2.5em;
    margin-left:2em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.stay{
    display:flex;
    justify-content:flex-end;
    background-image: url("./assets/seloger.PNG");
    background-color: #6A8E7F;
    background-repeat: no-repeat;
    background-size: 100%;
    width:80%;
    height: 200px;
    border-radius: 49px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button2{
    font-family : "lato", sans serif;
    font-size: 1.2em;
    text-align:center;
    padding-top: 2.2em;
    height: 120px;
    width: 120px;
    background: rgba(238, 235, 235, 0.4);
    border-radius: 50%;
    margin-top : 2.5em;
    margin-right:2em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.eat{
    display:flex;
    justify-content:flex-start;
    background-image: url("./assets/restauration.PNG");
    background-color: #6A8E7F;
    background-repeat: no-repeat;
    background-size: 100%;
    width:80%;
    height: 200px;
    border-radius: 49px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button3{
    font-family : "lato", sans serif;
    font-size: 1.2em;
    text-align:center;
    padding-top: 2.2em;
    height: 120px;
    width: 120px;
    background: rgba(238, 235, 235, 0.4);
    border-radius: 50%;
    margin-top : 2.5em;
    margin-left:2em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.around{
    display:flex;
    justify-content:flex-end;
    background-image: url("./assets/clisson.jpg");
    background-color: #6A8E7F;
    background-repeat: no-repeat;
    background-size: 100%;
    width:80%;
    height: 200px;
    border-radius: 49px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button4{
    font-family : "lato", sans serif;
    font-size: 1.2em;
    text-align:center;
    padding-top: 2.2em;
    height: 120px;
    width: 120px;
    background: rgba(238, 235, 235, 0.4);
    border-radius: 50%;
    margin-top : 2.5em;
    margin-right:2em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button1:hover{ 
    background: rgba(238, 235, 235, 0.9);
}

.button2:hover{ 
    background: rgba(238, 235, 235, 0.9);
}

.button3:hover{ 
    background: rgba(238, 235, 235, 0.9);
}

.button4:hover{ 
    background: rgba(238, 235, 235, 0.9);
}
/* EVERYTHING BELOW HERE desktop 688px and bigger */
  
@media (min-width: 688px) {

body{
    background-color:#EEEEFE;
    font-family : "lato", sans serif;  
}
.map{
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 49px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
    
.container{
    display:flex;
    flex-direction:column;
    gap: 1em;
}

.rows{
    display:flex;
    flex-direction: row;
    gap: 0.9em;
}

.textPractical{
    width:20%;
    background: rgba(238, 235, 235);
    border-radius: 49px;
    word-wrap: break-word;
    padding : 1em;
}
    
.move{
    display:flex;
    justify-content:flex-start;
    background-image: url("./assets/move.jpg");
    background-color: #6A8E7F;
    background-repeat: no-repeat;
    background-size: 100%;
    width:80%;
    height: 200px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.button1{
    font-family : "lato", sans serif;
    font-size: 1.2em;
    text-align:center;
    padding-top: 3.1em;
    height: 150px;
    width: 150px;
    background: rgba(238, 235, 235, 0.4);
    border-radius: 50%;
    margin-top : 1.5em;
    margin-left:3em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.stay{
    display:flex;
    justify-content:flex-end;
    background-image: url("./assets/seloger.PNG");
    background-color: #6A8E7F;
    background-repeat: no-repeat;
    background-size: 100%;
    width:80%;
    height: 200px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}

.button2{
    font-family : "lato", sans serif;
    font-size: 1.2em;
    text-align:center;
    padding-top: 3.1em;
    height: 150px;
    width: 150px;
    background: rgba(238, 235, 235, 0.4);
    border-radius: 50%;
    margin-top : 1.5em;
    margin-right:3em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.eat{
    display:flex;
    justify-content:flex-start;
    background-image: url("./assets/restauration.PNG");
    background-color: #6A8E7F;
    background-repeat: no-repeat;
    background-size: 100%;
    width:80%;
    height: 200px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button3{
    font-family : "lato", sans serif;
    font-size: 1.2em;
    text-align:center;
    padding-top: 3.1em;
    height: 150px;
    width: 150px;
    background: rgba(238, 235, 235, 0.4);
    border-radius: 50%;
    margin-top : 1.5em;
    margin-left:3em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.around{
    display:flex;
    justify-content:flex-end;
    background-image: url("./assets/clisson.jpg");
    background-color: #6A8E7F;
    background-repeat: no-repeat;
    background-size: 100%;
    width:80%;
    height: 200px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button4{
    font-family : "lato", sans serif;
    font-size: 1.2em;
    text-align:center;
    padding-top: 3.1em;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: rgba(238, 235, 235, 0.4);
    margin-top : 1.5em;
    margin-right:3em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.button1:hover{ 
    background: rgba(238, 235, 235, 0.9);
}

.button2:hover{ 
    background: rgba(238, 235, 235, 0.9);
}

.button3:hover{ 
    background: rgba(238, 235, 235, 0.9);
}

.button4:hover{ 
    background: rgba(238, 235, 235, 0.9);
}