body {
    font-family : "lato", sans serif;
    
}

/* Desktop */

/* Section présentation de la culture */

.presentation {
    margin-bottom: 50px;
}

.cultureImage {
    width: 100%;
    height: 100%;

}
.culture {
    font-size: 150px;
    line-height: 86px;
    color: #d4781c;
    margin-top: -90px;
    text-align: right;
    margin-right: 10px;
}


.cultureTexte , h3 {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}

.cultureTexteLi {
    
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
    padding: 2px;
}


.cultureInput {
    font-size: auto;
    display: block;
    margin: auto;
    border-radius: 4rem;
    background-color: black;
    color: blanchedalmond;
    padding: .3rem 3rem;
    vertical-align: middle;
}

/* Section présentation d'un évènement */

.divEvenement {
    background-color: #989572;
    text-align: center;
}

.evenementImage {
    
    display: block;
    width: 456px;
    height: 279px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    
}

.evenements {
       
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color:#EEEEFE;
    text-align: center;
    border-top: 2px;

}

.texteEvenement {

    left: 50px;
    top: 1426px;
    color:white;
    border-top: solid 2px;
    padding-top: 40px;

}



.presentationImage {
width: 50%;
display: block;
margin-right: auto;
margin-left: auto;
border-radius: 20px;

}


.descriptionEvenement {
display: inline-block;
margin-left: 150px;
margin-right: 150px;
text-align: justify;

}

/* Mobile */

@media (min-width: 688px) {


/* Section présentation de la culture */

.presentation {
    margin-bottom: 50px;
}

.cultureImage {
    width: 100%;
    height: 100%;

}

.culture {
    font-size: 100px;
    line-height: 86px;
    color: #d4781c;
    margin-top: -90px;
    text-align: right;
    margin-right: 10px;
}


.cultureTexte , h3 {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}

.cultureTexteLi {
    
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
    padding: 2px;
}


.cultureInput {
    font-size: 30px;
    display: block;
    margin: auto;
    border-radius: 4rem;
    background-color: black;
    color: blanchedalmond;
    padding: .3rem 3rem;
    vertical-align: middle;
}

/* Section présentation d'un évènement */

.divEvenement {
    background-color: #989572;
    text-align: center;
}

.evenementImage {
    
    display: block;
    width: 456px;
    height: 279px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    
}

.evenements {
       
    font-weight: 600;
    font-size: 60px;
    line-height: 43px;
    color:#EEEEFE;
    text-align: center;

}

.texteEvenement {

    left: 50px;
    top: 1426px;
    color:white;
    border-top: solid 2px;
    padding-top: 40px;

}



.presentationImage {
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    border-radius: 20px;

}


.descriptionEvenement {
    display: inline-block;
    margin-left: 150px;
    margin-right: 150px;
    text-align: justify;
    font-style: italic;

}

}