/* couleur mauve clair #D0CFEC */
/* couleur vert #6A8E7F */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family : "Lato", "Helvetica", sans serif;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ECEBF7;
}

main {
  padding: 50px;
}

/* TEMPORARY MAIN STYLES */
/* main {
    padding: 50px;
} */

/* START HEADER STYLES */
header {
    height: 12vh;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EEEEFE;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: "lato", sans-serif;
    color: #6A8E7F;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .navContainer {
    margin-left: 20px;
    margin-top: 4vh;
  }
  
  .headLogo {
    width: 10vh;
    height: 10vh;
    align-self: center;
  }
  
  /* BURGER CSS */
  .burger {
    display: inline-block;
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: 4px solid #6A8E7F;
    width: 28px;
    transition: border-bottom 1s ease-in-out;
    -webkit-transition: border-bottom 1s ease-in-out;
  }
  .burger::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  .burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid #6A8E7F;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
  .burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid #6A8E7F;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
  
  .burger-check {
    display: none;
  }
  
  .burger-check:checked ~ .burger {
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.8s ease-in-out;
    -webkit-transition: border-bottom 0.8s ease-in-out;
  }
  .burger-check:checked ~ .burger:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
  .burger-check:checked ~ .burger:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
  
  .navigation {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    background-color:rgba(238, 235, 235, 0.8);
    border-radius: 10%;
  }
  
  .burger-check:checked ~ .navigation {
    max-height: 500px;
    transition: max-height 0.5s ease-in-out;
  }
  
  header a {
    color: inherit;
    text-decoration: none;
  
  }
  
  header a:hover {
    text-decoration: underline;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  header li {
    list-style: none;
    font-size: 25px;
    padding: 6px 15px;
  }
  
  /* END BURGER CSS */
  
  /* Hide desktop nav on mobile view */
  .desktopNav {
    display: none;
  }
    
  
  /* EVERYTHING BELOW HERE desktop 688px and bigger */
    
  @media (min-width: 688px) {
  
 
    /* Hide mobile burger menu */
    .burger {
      display: none;
    }
  
    /* Show desktop nav items */
    .desktopNav {
      display: block;
      padding: 0 30px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  
    
    /* Desktop grid container layout definition */
    header {
      height: 16vh;
      display: grid;
      grid-template-columns: repeat(7, minmax(0, 1fr));
      grid-template-rows: 1fr 1fr 1fr;
      grid-auto-rows: 0;
      font-size: min(3vw, 2rem);
    }  
  
    /* Desktop grid item layout definition */
    /* all central column for logo */
    .headLogo {
      grid-column: 4 / 5;
      grid-row: 1 / 4;
      justify-self: center;
      align-self: center;
      width: 15vh;
      height: 15vh;
    }
  
   
  
  
    /* top left */
    .hist {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      justify-self: start;
      transform:translateX(25vw);
      transition: all 2s ease;
    }
  
    /* center left */
    .gast {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
      justify-self: start;
      transform:translateX(15vw);
      transition: all 2.25s ease-in-out;
    }
  
    /* bottom left */
    .insol {
      grid-column: 1 / 4;
      grid-row: 3 / 4;
      justify-self: start;
      transform:translateX(26vw);
      transition: all 2.25s ease;
    }
  
    /* top right */
    .cult {
      grid-column: 5 / 8;
      grid-row: 1 / 2;
      justify-self: end;
      transform:translateX(-26vw);
      transition: all 2s ease;
    }
  
    /* center right*/
    .night {
      grid-column: 5 / 8;
      grid-row: 2 / 3;
      justify-self: end;
      transform:translateX(-17vw);
      transition: all 2.25s ease-in-out;
    }
  
    /* bottom right*/
    .prat {
      grid-column: 5 / 8;
      grid-row: 3 / 4;
      justify-self: end;
      transform:translateX(-25vw);
      transition: all 2.25s ease;
    }
      
  }

/* END HEADER STYLES */
/* START FOOTER STYLES */

/*Bloc newsletter*/

.newsletterDiv{
    font-family: 'Lato', sans-serif;
    background-color: #D0CFEC;
    color: #6A8E7F;
    padding-top: 10px;
    height: 140px;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  }
  .newsletterForm{
    width: 70%;
    font-style: italic;
    max-width: 350px;
    height: 2rem;
    margin-top: 25px;
    border: 1px solid #6A8E7F;
    border-radius: 5px;
    padding: 0 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .newsletterButton{
      background-color: white;
    border: 1px solid #6A8E7F;
    border-radius: 5px;
    height: 2rem;
    padding: 0 10px;
    /* box-shadow: 2px 2px 0px #6A8E7F; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  /*Bloc footer*/
  
  .footerDiv{
    font-family: 'Lato', sans-serif;
    background-color: #6A8E7F;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    
  }
  
  .socialIcons{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 25%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .logoFooter{
    width: 18vw; /*vw = dimension en fonction de l'écran et non du parent (Div)*/
    height: 18vw;
    margin-bottom: 20px;

  }
  
  .newsletterTitle, .socialTitle, .copyright{
    font-weight: normal;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .newsletterTitle {
      font-size: 1.8rem;
      margin-top: 10px;
  }

  .socialTitle {
      margin-top: 20px;
  }
  .copyright {
      margin-bottom: 20px;
  }
  
  /*.facebookIcon, .instagramIcon, .twitterIcon{
    width: 30px;
    height: 30px;
  }*/
  
  .navFooter{
    display: flex;
    list-style-type: none;
    width: 85%;
    justify-content: space-around;
    font-size: 0.8em;
    
  }
  
    
  /* Desktop 688px and bigger */
    
  @media (min-width: 688px) {
      .newsletterForm{
        width: 30%;
        max-width: 350px;
        font-style: italic;
      }
      .logoFooter{
        width: 18vw;
        height: 18vw;
        max-width: 150px;
        max-height: 150px;
      }
      .socialIcons{
        width: 25%;
        max-width: 170px;
      }
  }

  /* END FOOTER STYLES */