/* Mobile 0px to 688px */ 
/* couleur mauve clair #D0CFEC */
/* couleur vert #6A8E7F */

*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.hero{
    background-image: url("./assets./commentForm/Sunshine.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 200px;

    display: flex;
    justify-content: space-between;
}

.title1{
    color: #ffffff;
    font-weight: normal;
    font-size: 1.4em;

}

.title2 {
    align-self: flex-end;
    color: #ffffff;
    font-weight: normal;
    text-align: right;
}

.form{
    background-color: #6A8E7F;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.stars{
    color: #ffffff;
    text-shadow: 2px 2px 2px black;
}

#commentForm{
    width: 90%;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 5px;
    font-style: italic;
    border: none;
    border-radius: 2px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.formButton{
    margin-bottom: 10px;
    align-self: flex-end;
    margin-right: 5%;
    width: 65px;
    border-radius: 5px;
    border: 1px solid #6A8E7F;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-top: 2px;
    padding-bottom: 2px;
}

/* class for the thank you message div */
.thanks {
    margin-top: 10px;
    transition: all 1.5s ease-out;
    font-size: 1rem;
}

/* class to select with JS to reveal the message */
.thanksHidden {
    display: none;
}

@media (min-width: 688px){
    .hero{
        height: 450px;
    }
    .star1:hover, .star2:hover, .star3:hover, .star4:hover, .star5:hover{
        color: yellow;
    }
    .title1{
        font-size: 2.5em;
    }
    .title2{
        font-size: 2em;
        color: #6A8E7F;
    }

    .form{
        font-size: 1.3em;
    }
}
