/* Mobile 0px to 688px */ 
/* couleur mauve clair #D0CFEC */
/* couleur vert #6A8E7F */

*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.hero{
    background-image: url("/assets/commentForm/Sunshine.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 200px;

    display: flex;
    justify-content: space-between;
}

.title1{
    color: #ffffff;
    font-weight: normal;
}

.title2 {
    align-self: flex-end;
    color: #6A8E7F;
    font-weight: normal;
}

.form{
    background-color: #6A8E7F;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.stars{
    color: #ffffff;
    text-shadow: 2px 2px 2px black;
    font-size: 1.5em;
}

#commentForm{
    width: 90%;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 5px;
    font-style: italic;
    border: none;
    border-radius: 2px;
}

.formButton{
    margin-bottom: 20px;
    align-self: flex-end;
    margin-right: 5%;
    box-shadow: 2px 2px 2px black;
}

@media (min-width: 688px){
    .hero{
        height: 450px;
    }
    .star1:hover, .star2:hover, .star3:hover, .star4:hover, .star5:hover{
        color: yellow;
    }
    .title1{
        font-size: 2.5em;
    }
    .title2{
        font-size: 2em;
    }
}
