/* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family : "lato", sans serif;
} */

/* VERSION MOBILE UP TO 688 PX */

.hero {
    display: flex;
    flex-direction: column;
}

.welcomeBackground{
    background-image: url('/assets/index/NantesPano.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    display: flex;
}

.mainTitle {
    margin: 0;
    font-size: 3.5em;
    line-height: 86px;
    color: #E1E6EC;
    align-self: flex-end;
    /* text-shadow: 4px 1px 4px #6A8E7F; */
}
/* BLOC MESSAGE D'ACCUEIL */
.welcomeBloc {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.47) 0%, rgba(255, 255, 255, 0) 72.92%), rgba(106, 142, 127, 0.54);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* TITRE MESSAGE D'ACCUEIL */
.welcomeTitle {
    margin-bottom: 20px;
    text-align: center;
}

/* TEXTE MESSAGE D'ACCUEIL */
.welcomeBloc p {
    font-size: 20px;
    width: 80%;
    text-align: justify;
}

.discoverItems{
    background-color: #D0CFEC;
    display: flex;
    flex-direction: column;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 200px;
    justify-content: space-around;
    padding-top: 20px;
}

.discoverItems ul, ol{
    display: block;
    margin: auto;
    text-align: left;
    padding: 0;
}

/* LIENS DYNAMIQUES */
.discoverItems ol a{
    color: #6A8E7F;
    text-decoration: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* SECTON "DECOUVRIR" */
.titreDecouvrir {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 35px;
    text-align: center;
}

.nightLifeBloc{
    background-image: url('/assets/index/IMG_1915.JPG');
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 35px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nightLifeTitle{
    font-size: 3em;
    margin: 0;
    font-weight: normal;
}

.nightLifeBloc p {
    margin: 0;
    font-size: 20px;
    text-align: right;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.47);
    padding-right: 10px;
    padding-bottom: 10px;
}

.nightLifeButton {
    border: none;
    border-radius: 3px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 25px;
}

/* SECTION COMMENTAIRES */

.stars {
    color: rgb(218, 218, 111);
    text-shadow: 2px 2px 2px black;
    font-size: 1.3em;
}

.commentsSection{
    background: rgba(106, 142, 127, 0.63);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentsMessage{
    font-style: italic;
    font-size : 1.2em;
    margin: 0;
    padding: 0;
    align-self: flex-start;
    padding-left: 25px;
    padding-top: 15px;
}

.comment1, .comment2{
    background-color: #FFFFFF;
    border: 1px solid #6A8E7F;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 3px;
    width: 90%;

    padding-left: 5px;
    margin-bottom: 15px;
}

.commentsSection{
    text-align: center;
}

.letComment p {
    margin: 0;
    padding: 0;
}

.commentsSection button{
    border-radius: 2px;
    border: 1px solid #6A8E7F;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
}

.button a {
    color: black;
    text-decoration: none;
}

.button a:hover{
    font-style: italic;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Desktop 688px and bigger */

@media (min-width: 688px) {

    .welcomeBackground{
        background-size: 100%;
    }

    .mainTitle{
        font-size: 4.3em;
    }

    .welcomeBloc p {
        width: 60%;
    }
    
    /* LISTE THEMES */
    ol a:hover{
        color: #FFFFFF;
        text-shadow: 2px 2px 2px #6A8E7F;
    }

    .nightLifeBloc{
        background-image: url('/assets/index/IMG_1915.JPG');
        background-repeat: no-repeat;
        background-position: left;
        background-size: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
    }

    .nightLifeTitle{
        font-size: 4em;
    }

    .nightLifeBloc p {
        width: 40%;
    }

    /* SECTION COMMENTAIRES */

    .comment1, .comment2{
        width: 40%;
        padding-left: 5px;
    }

    .comment1{
        align-self: flex-end;
        margin-right: 20px;
    }

    .comment2{
        align-self: flex-start;
        margin-left: 20px;
    }

    .letComment{
        align-self: flex-end;
        text-align: right;
    }

    .commentsSection{
        padding-right: 20px;
    }

}